<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>위메프 과제</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#submit").on('click', function () {
                let form = {};
                let formSerialize = $("#form").serializeArray();
                formSerialize.forEach(ele => {
                    form[ele.name] = ele.value;
                });
                $.ajax({
                    type: "POST",
                    url: "/content",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(form),
                    dataType: "json",
                    success: function (result) {
                        $("#quotient").text(result.quotient);
                        $("#remainder").text(result.remainder);

                    },
                    error: function (xhr, status, error) {
                        let errorMsg = xhr.responseJSON.errorMsg;
                        let errorFieldDetail = JSON.stringify(xhr.responseJSON.errorFieldDetail) != 'null' ? JSON.stringify(xhr.responseJSON.errorFieldDetail) : "";
                        errorMsg += errorFieldDetail;
                        alert(errorMsg);
                    }
                });
            });
        });
    </script>
</head>
<body>
<div id="pagewidth">
    <div id="wrapper" class="clearfix">
        <form action="/content" id="form" method="post" name="url">
            <table>
                <thead>

                </thead>

            </table>
            <h1>[입력]</h1>
            <table>
                <tbody>
                <tr>
                    <td>URL</td>
                    <td><input name="url" type="text"/></td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td><select name="type">
                        <option th:each="parseType : ${parseType}" th:value="${parseType.name}"
                                th:text="${parseType.value}"></option>
                    </select></td>
                </tr>
                <tr>
                    <td>출력 단위 묶음</td>
                    <td><input name="operand" type="number"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="button" id="submit" value="출력"/></td>
                </tr>
                </tbody>
            </table>
            <h1>[출력]</h1>
            <table>
                <tbody>
                <tr>
                    <td>몫</td>
                    <td><textarea readonly="true" id="quotient" rows="10" cols="40"></textarea></td>
                </tr>
                <tr>
                    <td>나머지</td>
                    <td><textarea readonly="true" id="remainder" rows="2" cols="40"></textarea></td>
                </tr>

                </tbody>
            </table>

        </form>
    </div>
</div>
</body>
</html>